#  SPDX-License-Identifier: GPL-2.0
#
# This is shell code sourced by gbmake
# config.sample should be copied to config, and
# edited as needed.

# Directory for kernel build objects, usually a relative path
#   GNUBEE_KERNEL_OBJECTS=O
# Directory for initramfs, can be relative
#   GNUBEE_INITRAMFS_TREE:=initramfs
# Directory containing kernel config files - 'kern_config' in parent of script by default
#   GNUBEE_CONFIG_DIR=
# Directory where user-space tools are built - usually ../build from script dir
#   GNUBEE_BUILD_DIR=
# Cross compiler - full path such as /opt/cross/bin/mipsel-unknown-linux-gnu-
#   CROSS_COMPILE=
# Extra options to "make" for kernel build
#   GNUBEE_MAKE_OPTS="-j8"
# GnuBee running Debian from which various programs can be copied.
#   GNUBEE_SSH_HOST=root@192.168.1.111
# To include extenal modules in the image, list them here.  Just the name
# of the directory may suffice if the Makefile there follows normal conventions.
# Otherwise provide a script that will build the module and install it.
# The script is passed the kernel build directory as $1 and the initramfs install
# directory as $2
#   GNUBEE_EXTERN="/home/git/rtl88x2bu /home/git/rtl8192eu-linux-driver"
